<ul class="nav flex-column">
  <li class="nav-item">
    <span class="navbar-brand p-1">IPFS</span>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">
      <span style="opacity: 0;">
        <i class="fas fa-angle-right"></i>
      </span>
      <span>Home</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/peers" routerLinkActive="active">
      <span style="opacity: 0;">
        <i class="fas fa-angle-right"></i>
      </span>
      <span>Peers</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/config" routerLinkActive="active">
      <span style="opacity: 0;">
        <i class="fas fa-angle-right"></i>
      </span>
      <span>Config</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/files" routerLinkActive="active">
      <span style="opacity: 0;">
        <i class="fas fa-angle-right"></i>
      </span>
      <span>Files</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dag-graph" routerLinkActive="active">
      <span style="opacity: 0;">
        <i class="fas fa-angle-right"></i>
      </span>
      <span>DAG Graph</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dag-explorer" routerLinkActive="active">
      <span style="opacity: 0;">
        <i class="fas fa-angle-right"></i>
      </span>
      <span>DAG Explorer</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="oneVisible2 = !oneVisible2; $event.preventDefault()">
      <span *ngIf="oneVisible2 || router.url.indexOf('/demos') !== -1; else demosAlt">
        <i class="fas fa-angle-down"></i>
      </span>
      <ng-template #demosAlt>
        <span><i class="fas fa-angle-right"></i></span>
      </ng-template>

      <span>Demos</span>
    </a>
    <div *ngIf="oneVisible2 || router.url.indexOf('/demos') !== -1" class="border-top border-bottom border-secondary">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/demos/webmerge" routerLinkActive="active">Webmerge Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demos/jspdf" routerLinkActive="active">jsPDF Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demos/files-upload" routerLinkActive="active">Files Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demos/hash-check" routerLinkActive="active">Check Hash Demo</a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<!-- <div class="card border-0 bg-secondary">
  <div class="card-header border-0 p-0 top-level">
    <a class="nav-link p-2" routerLink="/home" routerLinkActive="active">Home</a>
  </div>
</div>
<div class="card border-0 bg-secondary">
  <div class="card-header border-0 p-2 top-level" (click)="oneVisible = !oneVisible">One</div>
  <div *ngIf="oneVisible" class="card border-0 bg-dark">
    <div class="card border-0 bg-dark p-2 inner-level">One</div>
    <div class="card border-0 bg-dark p-2 inner-level">Two</div>
    <div class="card border-0 bg-dark p-2 inner-level">Three</div>
    <div class="card border-0 bg-dark p-2 inner-level">Four</div>
  </div>
</div>
<div class="card border-0 bg-secondary">
  <div class="card-header border-0 p-2 top-level" (click)="twoVisible = !twoVisible">Two</div>
  <div *ngIf="twoVisible" class="card border-0 bg-dark">
    <div class="card border-0 bg-dark p-2 inner-level">One</div>
    <div class="card border-0 bg-dark p-2 inner-level">Two</div>
    <div class="card border-0 bg-dark p-2 inner-level">Three</div>
    <div class="card border-0 bg-dark p-2 inner-level">Four</div>
  </div>
</div>
<div class="card border-0 bg-secondary">
  <div class="card-header border-0 p-2 top-level" (click)="threeVisible = !threeVisible">Three</div>
  <div *ngIf="threeVisible" class="card border-0 bg-dark">
    <div class="card border-0 bg-dark p-2 inner-level">One</div>
    <div class="card border-0 bg-dark p-2 inner-level">Two</div>
    <div class="card border-0 bg-dark p-2 inner-level">Three</div>
    <div class="card border-0 bg-dark p-2 inner-level">Four</div>
  </div>
</div> -->
