<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/peers" routerLinkActive="active">Peers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/config" routerLinkActive="active">Config</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/files" routerLinkActive="active">Files</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dag-graph" routerLinkActive="active">DAG Graph</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dag-explorer" routerLinkActive="active">DAG Explorer</a>
  </li>
</ul>
