<!-- <div fxLayout="column" fxFlexFill>
  <div fxFlex>
    <app-top-nav></app-top-nav>
  </div>
  <div fxLayout="row" fxFlex="grow" fxFlexFill>
    <div fxFlex="200px" class="card text-white bg-dark">
      <app-side-nav *ngIf="sidebarVisible"></app-side-nav>
    </div>
    <div fxFlex="1 1 calc(100% - 200px)" fxFlexFill>
      <ng-container *ngIf="ipfsService.isReady">
        <perfect-scrollbar fxLayout="column" fxFlexFill>
          <router-outlet></router-outlet>
        </perfect-scrollbar>
      </ng-container>
    </div>
  </div>
</div> -->
<span class="bootstrap4-scope">
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxFlex="grow" fxFlexFill>
      <!-- <div fxFlex="200px" class="card text-white bg-dark"> -->
      <div [fxFlex]="flexSide" class="card text-white bg-dark">
        <app-side-nav *ngIf="sidebarVisible"></app-side-nav>
      </div>
      <!-- <div fxFlex="1 1 calc(100% - 200px)" fxFlexFill> -->
      <div [fxFlex]="flexContent" fxFlexFill>
        <div fxLayout="column" fxFlexFill>
          <div fxFlex>
            <app-top-nav></app-top-nav>
          </div>
          <ng-container *ngIf="ipfsService.isReady">
            <div fxLayout="column" fxFlex="grow" fxFlexFill>
              <div fxLayout="column" fxFlex="grow" fxFlexFill appOverlayScrollbar>
                <router-outlet></router-outlet>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</span>
