<button (click)="testPDF($event)">PDF</button>

<div #editorRef class="editor editor-main"></div>
<div #contentRef class="d-none">Something Anim anim proident officia dolore esse qui. Culpa incididunt nulla magna eu ea fugiat qui est adipisicing. Eu exercitation sit ad nisi officia in sint elit.

Eu velit dolor irure amet occaecat do dolor sunt veniam nostrud velit culpa. Aliquip eiusmod occaecat do exercitation in minim. Voluptate fugiat eiusmod pariatur eiusmod. Voluptate ullamco reprehenderit elit ipsum aute magna ipsum officia culpa mollit commodo laboris. Sunt deserunt eiusmod aute ea fugiat deserunt et eiusmod. Anim in ea duis culpa minim cupidatat et duis aute laborum ex officia cupidatat duis.

Anim ullamco nisi nostrud incididunt cupidatat ad dolore. Eiusmod consectetur duis nulla cupidatat enim ipsum veniam laborum excepteur esse eu Lorem. Mollit est aute fugiat nostrud magna eu. Cupidatat dolore duis dolor nulla. Et duis labore dolor in ullamco. Velit eu amet labore aliquip laboris quis exercitation Lorem labore nostrud magna elit. Commodo incididunt mollit irure do irure sint esse dolor incididunt laborum ut.

Adipisicing est amet occaecat nostrud et commodo nulla Lorem aliqua. Dolore cillum elit aute in elit dolore magna proident sunt ex quis deserunt. Officia eiusmod adipisicing Lorem incididunt laboris reprehenderit sunt duis reprehenderit voluptate officia. Laboris magna deserunt exercitation esse cupidatat. Ad ipsum sint ut deserunt laborum aliquip deserunt reprehenderit est exercitation amet consequat.

Ea enim esse incididunt cupidatat dolore mollit nostrud in pariatur. Est fugiat minim excepteur consectetur. Commodo nostrud pariatur cillum aliqua incididunt quis mollit laboris et est est aliqua.

Ipsum laboris aute laboris aliqua aute Lorem. Labore duis elit anim officia irure in tempor occaecat dolor nisi occaecat nulla laborum. Excepteur eu eu commodo voluptate incididunt. Sit ut consectetur pariatur incididunt labore. Laboris do veniam ea reprehenderit nisi mollit id laborum aute qui ex cupidatat ex laborum.

Et do officia aliqua enim sunt ad nisi occaecat consectetur magna. Excepteur adipisicing culpa aute aliqua tempor velit ipsum. Occaecat qui in pariatur cillum consequat occaecat anim cillum laborum in ad qui pariatur enim.

Aliqua Lorem fugiat ullamco in sint consequat mollit officia dolore id non. Ullamco eiusmod eu ex dolore enim do est laboris occaecat ea. Sint ex proident eiusmod deserunt reprehenderit magna adipisicing. Elit mollit mollit excepteur tempor consectetur commodo nostrud exercitation. Mollit minim non nisi eu minim reprehenderit. Eu duis duis in ex incididunt deserunt elit minim ad cillum dolore ut. Et duis enim qui eu.

Eiusmod irure magna sunt ex ipsum occaecat aliquip tempor do irure in dolor sit minim. Cillum magna reprehenderit eiusmod irure ut tempor nulla ex. Laboris veniam do cupidatat mollit labore nostrud deserunt aliquip. Duis eiusmod id do occaecat id culpa officia occaecat consequat laborum fugiat. Cillum sunt magna anim laboris non qui. Nisi eiusmod exercitation officia sit esse dolore id. Dolore officia tempor culpa duis minim laborum sit ipsum ut exercitation laborum.

Cillum anim in dolor pariatur pariatur esse elit aute nulla. Ipsum incididunt duis sunt eiusmod nisi culpa voluptate est laboris in. Culpa ea aliqua in duis velit sint commodo eu laborum fugiat irure. Non occaecat sint veniam non duis exercitation laboris ullamco anim.</div>
