<div class="card border-bottom-0">
  <div class="card-body">

    <div class="card bg-light" *ngIf="idData">
      <div class="card-body">
        <div>
          <div><strong>ID: </strong><code>{{ idData.id }}</code></div>

          <div class="pt-1"></div>

          <div><strong>Agent Version: </strong><code>{{ idData.agentVersion }}</code></div>
          <div><strong>Protocol Version: </strong><code>{{ idData.protocolVersion }}</code></div>

          <div class="pt-1"></div>

          <strong>Public Key: </strong>
          <div class="card" appOverlayScrollbar>
            <!-- <pre class="panel textarea-panel mb-0 p-1">{{ idData.publicKey }}</pre> -->
            <div class="p-1" style="white-space:nowrap;">{{ idData.publicKey }}</div>
          </div>

          <div class="pt-1"></div>

          <div><strong>  Addresses:</strong></div>
          <div class="card">
            <div class="card-body p-1" appOverlayScrollbar>
              <div *ngFor="let addr of idData.addresses; let i = index"
                style="white-space:nowrap;">{{ addr }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
