/* You can add global styles to this file, and also import other style files */
@import 'variables';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import 'bs-variables';
// @import '~bootstrap/scss/bootstrap';
.bootstrap4-scope {
  @import '~bootstrap/scss/bootstrap';
}
// :not(.exclude-bootstrap4) {
//   @import '~bootstrap/scss/bootstrap';
// }
@import 'theme';

// @import '~primeng/resources/themes/omega/theme.css';
// @import '~primeng/resources/themes/darkness/theme.css';
// @import '~primeng/resources/primeng.min.css';

@import '~overlayscrollbars/css/OverlayScrollbars.min.css';
@import 'os-theme-block-dark';
@import 'os-theme-block-dark-minimal';
@import 'os-theme-minimal-dark';
@import 'os-theme-minimal-light';


// Adjust your logo position
// .mat-icon {
//   &.mat-icon-logo {
//     position: relative;
//     top: -4px;
//   }
// }

// // Hack for small search box
// .td-search-box {
//   .td-search-icon.mat-icon-button {
//     margin: 0;
//     height: 30px;
//     .mat-icon {
//       margin-top: -10px;
//     }
//   }
//   td-search-input {
//     margin-left: 0 !important;
//     margin-bottom: 5px;
//     .mat-form-field {
//       width: auto;
//     }
//     .mat-form-field-wrapper {
//       padding-bottom: 0;
//     }
//     .mat-input-infix {
//       padding: 0;
//     }
//     .mat-form-field-infix {
//       border-top: 0;
//     }
//   }
// }


@media all {
  .page-break	{
    display: none;
  }
}

@media print {
  .page-break	{
    display: block;
    page-break-before: always;
  }
}


html, body {
  // width: 100%;
  height: 100%;
}
