<h3>Files Upload Demo</h3>

<div class="center">
  <div class="card p-2">
    <div class="upload-files-btn" (click)="uploadFileBtnClick($event)">
      <file-drop customstyle="border border-secondary"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
        <span>Add Files To IPFS</span>
      </file-drop>
    </div>
    <!-- <file-drop customstyle="border border-secondary"
      (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)"
      (onFileLeave)="fileLeave($event)">
      <span class="upload-files-btn" (click)="uploadFileBtnClick($event)">Add Files To IPFS</span>
    </file-drop> -->
  </div>

  <!-- <div class="card">
    <input type="file" (change)="fileInputChange($event)">
  </div> -->

  <!-- webkitdirectory mozdirectory msdirectory odirectory directory -->
  <div class="card invisible">
    <input type="file" #filesInput
      multiple (change)="fileInputChange($event)">
  </div>

  <div class="card">
    <table class="table table-bordered table-hover table-sm mb-0">
      <thead>
        <tr>
          <th scope="col">Path</th>
          <th scope="col">Hash</th>
          <th scope="col">Size</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of addedFiles; let i=index">
          <td>{{ file.path }}</td>
          <td>{{ file.hash }}</td>
          <td>{{ file.size }}</td>
          <td>
              <!-- <button type="button" class="btn btn-sm btn-dark">View</button> -->
              <div class="btn-group" role="group">
                <!-- <button type="button" class="btn btn-secondary btn-sm mr-1">Preview</button> -->
                <button type="button" class="btn btn-secondary btn-sm"
                  (click)="viewFile(file)">View</button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
