<div class="card">
  <div class="card-body" *ngIf="implementationMissing">
    Implementation Not Done For Browser
  </div>
  <div class="card-body" *ngIf="!implementationMissing">
    <h3>Files</h3>
    <!-- <app-files-list></app-files-list> -->

    <div class="card">
      <div class="card-header p-2" (click)="pinnedFilesExpanded=!pinnedFilesExpanded">
        <span *ngIf="pinnedFilesExpanded; else pinnedFilesArrowElse">
          <i class="fas fa-angle-down"></i>
        </span>
        <ng-template #pinnedFilesArrowElse>
          <span><i class="fas fa-angle-right"></i></span>
        </ng-template>
        <span>Pinned Files</span>
      </div>
      <div class="card-body p-2" *ngIf="pinnedFiles && pinnedFilesExpanded">
        <perfect-scrollbar style="height: 500px;">
          <div *ngFor="let pin of pinnedFiles">hash: {{ pin.hash }}, type: {{ pin.type }}</div>
        </perfect-scrollbar>
      </div>
      <div class="card-footer p-1">
        Count: {{ pinnedFiles?.length }}
      </div>
    </div>

    <div class="pt-2"></div>

    <div class="card">
      <div class="card-header p-2" (click)="localRefsExpanded=!localRefsExpanded">
        <span *ngIf="localRefsExpanded; else localRefsArrowElse">
          <i class="fas fa-angle-down"></i>
        </span>
        <ng-template #localRefsArrowElse>
          <span><i class="fas fa-angle-right"></i></span>
        </ng-template>
        <span>Local Refs</span>
      </div>
      <div class="card-body p-2" *ngIf="localRefs && localRefsExpanded">
        <perfect-scrollbar style="height: 500px;">
          <div *ngFor="let r of localRefs">hash: {{ r.Ref }}</div>
        </perfect-scrollbar>
      </div>
      <div class="card-footer p-1">
        Count: {{ localRefs?.length }}
      </div>
    </div>

  </div>
</div>
