<nav class="navbar navbar-dark bg-dark p-1">
  <!-- <a class="navbar-brand pl-1" href="#">IPFS</a> -->
  <span *ngIf="sideNavExpanded; else toggleAlt"
    (click)="layoutService.setSideNavExpandedState(false)">
    <i class="far fa-caret-square-left fa-lg ml-1 toggle-btn"></i>
  </span>
  <ng-template #toggleAlt>
    <span (click)="layoutService.setSideNavExpandedState(true)">
      <i class="far fa-caret-square-right fa-lg ml-1 toggle-btn"></i>
    </span>
  </ng-template>
  <form class="form-inline">
    <a class="nav-link text-light" routerLink="/base-layout" routerLinkActive="active">
      <span class="noselect">New Layout Test</span>
    </a>

    <!-- <button class="btn btn-sm btn-outline-light mr-1" type="button"
      [disabled]="storedKeysManagerUiRef.isModalShown"
      (click)="onClickShowKeyManager()">
      <span class="noselect"><i class="fas fa-key"></i></span>
    </button> -->

    <button class="btn btn-sm btn-outline-light mr-1" type="button"
      [disabled]="storedKeysManagerUiRef.isModalShown"
      (click)="storedKeysManagerUiRef.toggleModal()">
      <span class="noselect"><i class="fas fa-key"></i></span>
    </button>

    <!-- <button class="btn btn-sm btn-outline-light mr-1" type="button"
      [disabled]="storedKeysManagerUiRef.isModalShown"
      (click)="storedKeysManagerUiRef.toggleModal()">
      <span class="noselect"><i class="fas fa-cog"></i></span>
    </button> -->

    <button class="btn btn-sm btn-primary mr-1" type="button"
      [disabled]="buttonStates.browser"
      (click)="onClickBrowser()">Browser</button>

    <button class="btn btn-sm btn-primary mr-1" type="button"
      [disabled]="buttonStates.localhost"
      (click)="onClickLocal()">Local</button>

    <button class="btn btn-sm btn-primary mr-1" type="button"
      [disabled]="buttonStates.jsuttontest1"
      (click)="onClickJSuttonTest1()">JSuttonTest1</button>

    <button class="btn btn-sm btn-primary" type="button"
      [disabled]="buttonStates.infura"
      (click)="onClickInfura()">Infura</button>
  </form>
</nav>

<app-stored-keys-manager-ui #storedKeysManagerUiRef
  [isModalOnly]="true"></app-stored-keys-manager-ui>


<!-- [class.btn-primary]="ipfsService.ipfsEnvironment !== 'browser'"
[class.btn-outline-primary]="ipfsService.ipfsEnvironment !== 'browser'" -->
