<h2 class="p-2 mb-0">Document Editor Demo</h2>

<div class="card mb-1">
  <div class="card-header">Schema Form</div>
  <div class="card-body p-2">

    <div class="card mb-1">
      <div class="card-header p-1">Schema</div>
      <div class="card-body p-0">
        <td-code-editor style="height: 600px" theme="vs" flex language="json" [(ngModel)]="jsonEditorSchema"></td-code-editor>
      </div>
    </div>

    <div class="card">
      <div class="card-header p-1">Model</div>
      <div class="card-body p-0">
        <td-code-editor style="height: 600px" theme="vs" flex language="json" [(ngModel)]="jsonEditorModel"></td-code-editor>
      </div>
    </div>

    <button (click)="updateSchema()">Update</button>
  </div>
</div>

<div class="card mb-1">
  <div class="card-header">Schema Form</div>
  <div class="card-body">
    <app-document-form [schema]="mySchema" [model]="myModel"></app-document-form>
  </div>
</div>


<!-- <button (click)="onClickJsonTest()">JSON Test</button> -->

<div class="card">
  <div class="card-header">Document Editor</div>
  <div class="card-body pl-2 pr-2 pb-2 pt-0">
    <trumbowyg liveUpdate="false" togglePreview="false" [options]="options" [initialContent]="initialContentTwo" (savedContent)="contentTwo=$event"></trumbowyg>
    <!-- <div>
      <p [innerHTML]="contentTwo"></p>
    </div> -->
    <!-- <div [innerHTML]="contentTwo"></div> -->
  </div>
</div>
