<h2 class="p-2">Document Editor Demo</h2>

<!-- <button (click)="test($event)">Test</button> -->
<!-- <button (click)="createComponent()">Test2</button> -->

<!-- Create the toolbar container -->
<!-- <div id="toolbar">
  <button class="ql-bold">Bold</button>
  <button class="ql-italic">Italic</button>
</div> -->

<!-- Create the editor container -->
<!-- <div id="editor" class="editor-main">
  <p>Hello World! fasdfasdnfkjhdf dsjafh dslah fjkdsh flahsd lkfjh asdklj hf kjlasdh fkjlha sdkjlhf kjasdhf lkjasdh fljkhasd lfkjh asdkjlhf jkaslhd fkjhas dlkjfh asdkjlhfkjasdhf kjhsadkj fjklasd hfjklhs dajkfh asdlkjfhlajksdhfjkdshfjklh djklhfaljksdhfjkasdhfjklahsd kjfh asldkjhfjkalsdhf jklasdhf ajskd hflkjha sdkljfh lkjasdh fjklahs dlkjfh asdlkjfh aljksdh fkjashd flkjha sdjklfh sadkjlhf kjsdah kjfhasdkjh fasdkj hfkjlasd hfjk hsdkjh fkjasldh fjklh asdjkflhasdkjfhlaskdjhflkajsdhflkjahsdflkjh</p>
  <p>1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9</p>
</div> -->

<!-- Include the Quill library -->
<!-- <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script> -->


<!-- <div #editorRef class="editor"></div>
<div #contentRef></div> -->

<div class="card border-0 exclude-bootstrap4 prosemirror-scope">
  <app-editor></app-editor>
</div>

<!-- <iframe src="http://localhost:4200/#/editor" frameborder="0"></iframe> -->
<!-- <div class="embed-responsive embed-responsive-16by9 border border-danger">
  <iframe class="embed-responsive-item" src="http://localhost:4200/#/editor" allowfullscreen></iframe>
</div> -->

<!-- <iframe #testIframe (load)="onLoadIframe()" frameborder="0"></iframe> -->
<!-- <div class="embed-responsive embed-responsive-16by9 border border-danger">
  <iframe #testIframe class="embed-responsive-item" (load)="onLoadIframe()" allowfullscreen></iframe>
</div> -->
