<h2 class="p-2">Encryption Demo</h2>

<div class="card pl-1 pr-1 border-0">
  <!-- Encrypt -->
  <app-card-widget [title]="'Encrypt'" [expanded]="true">
    <app-encrypt-panel (fileEncrypted)="onFileEncrypted($event)"></app-encrypt-panel>
  </app-card-widget>

  <div class="pt-2"></div>

  <!-- Decrypt -->
  <app-card-widget [title]="'Decrypt'" [expanded]="true">
    <app-decrypt-panel [encryptedFiles]="encryptedFiles"></app-decrypt-panel>
  </app-card-widget>
</div>













<ng-container *ngIf="0">
  <div class="pt-4"></div>
  <div class="pt-4"></div>
  <div class="pt-4"></div>


  <div class="card border-bottom-0 p-2">
    <div class="card">
      <div class="card-header p-2">
        Encryption Demo
      </div>

      <div class="card-body p-1">

        <!-- Options -->
        <div class="card mb-1">
          <div class="card-header p-1">Options</div>
          <div class="card-body p-1">
            <label>User to encrypt for:</label>
            <div class="btn-group btn-group-sm" dropdown>
              <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                {{ selectedKey.userIds[0].userId || 'None' }} <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let key of keys">
                  <div class="dropdown-item" style="cursor: pointer;"
                    (click)="selectedKey = key">
                    {{ key.userIds[0].userId }}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card p-2">
          <div class="upload-files-btn" (click)="uploadFileBtnClick($event)">
            <file-drop customstyle="border border-secondary"
              (onFileDrop)="dropped($event)"
              (onFileOver)="fileOver($event)"
              (onFileLeave)="fileLeave($event)">
              <span>Upload Files</span>
            </file-drop>
          </div>
        </div>

        <div class="card invisible d-none">
          <input type="file" #filesInput
            multiple (change)="fileInputChange($event)">
        </div>

        <div class="pt-1"></div>

        <div class="card">
          <table class="table table-bordered table-hover table-sm mb-0">
            <thead>
              <tr>
                <th scope="col">Path</th>
                <th scope="col">Hash</th>
                <th scope="col">Size</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let file of addedFiles; let i=index">
                <tr>
                  <td>{{ file.path }}</td>
                  <td>{{ file.hash }}</td>
                  <td>{{ file.size }}</td>
                  <td>
                    <!-- <button type="button" class="btn btn-sm btn-dark">View</button> -->
                    <div class="btn-group" role="group">
                      <!-- <button type="button" class="btn btn-secondary btn-sm mr-1">Preview</button> -->
                      <button type="button" class="btn btn-secondary btn-sm mr-1"
                        (click)="viewFile(file)">View</button>
                      <!-- <button type="button" class="btn btn-secondary btn-sm"
                        (click)="viewFile(file)">View Raw</button> -->
                      <button type="button" class="btn btn-secondary btn-sm mr-1"
                        (click)="viewFileDecrypted(file)">View Decrypted</button>
                      <button type="button" class="btn btn-secondary btn-sm"
                        (click)="openFileDecrypted(file)">Open Decrypted</button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <!-- <ng-container *ngFor="let data of rawTextData">
          <div class="card">
            <div class="card-header p-2">
              {{ data.filename }}
            </div>
            <div class="card-body p-0">
              <perfect-scrollbar style="height: 500px;">
                <pre>{{ data.buffer }}</pre>
              </perfect-scrollbar>
              <textarea class="file-content-textarea">{{ data.buffer }}</textarea>
            </div>
          </div>
        </ng-container> -->
      </div>


    </div>
  </div>
</ng-container>
